* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #9A3B3B;
}

.form-signin{
  width: 330px;
  height: 50%;
  background-color: #E2C799;
  
  
}

.esqueci-senha{
  padding-left: 10px;
}


.send_email_container{
  width: 30%;
  height: 20%;

}

.insert_password_container{
  width: 30%;
  height: 40%;

}

.container_table{
  width: 80%;
  height: 80%;
}


.bk{
  background-color: #E2C799;
}

.bk2{
  background-color: #9A3B3B;
}

.bk3{
  background-color: #F2ECBE;
}

.btn:hover{
  background-color: #E2C799;
  color: #9A3B3B;
}
.submit{
  padding: 1%;
}

.submit-text{
  color: black;
}

.pagination-text{
  color: #9A3B3B;
}

/* 
.edit_screen{
  
} */